<!DOCTYPE html>
<html>
<head>
	<title>{{ game.name|title }}</title>
	<style type="text/css">
		html,body {
			background-color: #333;
			color: #fff;
			font-family: helvetica, arial, sans-serif;
			margin: 0;
			padding: 0;
			font-size: 12pt;
		}
		
		#canvas {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	</style>
	{% if include_jquery %}
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	{% endif %}
	<script src="{{ host.address }}/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		var HOST="{{ host.address }}";
		{% for key in system %}
		var {{ key|upper }}={{ system[key] }};
		{% endfor %}
	</script>
	<script type="text/javascript" src="{{ code }}"></script>

</head>
<body>
	<canvas id="canvas"></canvas>
</body>
</html>